        <div class="col-md-6">
            <div class="form-group mt-4 pt-1">
                <h2 style="background-color: rgb(243, 234, 102); border-radius: 0.2rem; padding: 10px ">Signup</h2>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-outline-success ">Login</button>
                </div>
            </div>
        </div>