  <article class="p-2"style="background-color: #FFFFCC; border: solid 1px; border-radius: 0.2rem">
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title mt-3">Edit post</h2><hr>
  <form class="form edit-post-form">
    <div>
        <label for="post-name">Post title:</label><br>
      <input class="input my-2" name="post-name" type="text" value="{{name}}" />
    </div>
    <div>
        <label for="post-desc">Post content:</label><br>
      <input class="textarea my-2" name="post-desc" type="text" value="{{description}}" />
    </div>
    <button type="submit" class="button btn-success" style="border-radius: 0.2rem;">save post</button>
  </form>
</article>

<script src="/js/editpost.js"></script>