<div class="row">
  <div class="col-md-8 p-3 bg-light text-dark">
    <h2>{{name}}</h2>

    <div class="row">
      <div class="col-md-8">
        <p class="text-dark">{{description}}</p>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-8 bg-secondary">
    <p class="pt-2 text-right text-white">posted by {{user.name}} on {{format_date date_created}}</p>
  </div>
</div>

<div>
  
</div>